<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Web y Eventos</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/3-col-portfolio.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#"><img src="img/wye_logo.png"></a> </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    
    <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
      <div class="pull">
        <ul class="nav navbar-nav">
          <li> <a href="#">Quiero Estar en Wye</a> </li>
          <li> <a href="#">Ingresa</a> </li>
          <li> <a href="#">Yo quiero</a> </li>
          <li> <a href="#">Mi Fiesta</a> </li>
          <li> <a href="#">Registrate</a> </li>
          <li> <a href="#">Ayuda</a> </li>
          <li> <a href="#">Favoritos</a> </li>
          </li>
          <li>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar">
              </div>
              <!--<button type="submit" class="btn btn-default">Enviar</button>-->
            </form>
          </li>
        </ul>
      </div>
    </div>
    
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container --> 
</nav>

<!-- Page Content -->
<div class="container"> 
  
  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Web y Eventos <small>Salones de Fiestas y Servicios para Eventos</small> </h1>
    </div>
  </div>

<!-- /.row -->

<div class="jumbotron">
  <div class="row">
    <div class="col-lg-12">
      <h3>Quiero publicar mi anuncio en Web y Eventos<br><small>Publicá Gratis o tené tu anuncio Destacado</small></h2>
    </div>
  </div>
</div>
<br>

  <div class="row">
    <div class="col-md-6">
      <form name="contactForm" role="form" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-invalid-recaptcha">
        <div class="row">
          <div class="col-md-12">
            <input type="text" id="companyName" name="companyName" ng-model="$ctrl.consult.companyName" required class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" tabindex="1" placeholder="Nombre del Anuncio">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <input type="text" id="name" name="name" ng-model="$ctrl.consult.name" class="form-control ng-pristine ng-untouched ng-valid ng-empty" tabindex="2" placeholder="Tu nombre completo">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <input type="text" id="phone" name="phone" ng-model="$ctrl.consult.phone" class="form-control ng-pristine ng-untouched ng-valid ng-empty" tabindex="3" placeholder="Teléfono" >
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <input type="email" id="email" name="email" ng-model="$ctrl.consult.email" required class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" tabindex="4" placeholder="Email" >
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <input type="text" id="web" name="web" ng-model="$ctrl.consult.web" required class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" tabindex="4" placeholder="Página Web" >
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <input type="text" id="facebook" name="facebook" ng-model="$ctrl.consult.facebook" required class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" tabindex="4" placeholder="Facebook" >
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <input type="text" id="rubro" name="rubro" ng-model="$ctrl.consult.rubro" required class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" tabindex="4" placeholder="Rubro" >
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <input type="text" id="direccion" name="direccion" ng-model="$ctrl.consult.direccion" required class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" tabindex="4" placeholder="Dirección" >
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <input type="text" id="provincia" name="provincia" ng-model="$ctrl.consult.provincia" required class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" tabindex="4" placeholder="Provincia" >
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <input type="text" id="ciudad" name="ciudad" ng-model="$ctrl.consult.ciudad" class="form-control ng-pristine ng-untouched ng-valid ng-empty" tabindex="7" placeholder="Ciudad">
          </div>
        </div>
        <br>
        
        <div class="row">
          <div class="col-md-12">
            <textarea name="comments" id="comments" ng-model="$ctrl.consult.comments" class="form-control ng-pristine ng-untouched ng-valid ng-empty" tabindex="9" placeholder="Comentario"></textarea>
          </div>
        </div>
        <br>
        
        <div class="row">
          <div class="col-md-6">
            <label for="tyc">Acepto términos y condiciones</label>
          </div>
          <div class="col-md-6">
            <input type="checkbox" name="tyc" id="tyc" ng-model="$ctrl.consult.tyc" tabindex="11" class="ng-pristine ng-untouched ng-valid ng-empty">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <div vc-recaptcha="" theme="'light'" key="$ctrl.model.key" on-create="$ctrl.setWidgetId($ctrl.widgetId)" on-success="$ctrl.setResponse($ctrl.response)">
              <div style="width: 304px; height: 78px;">
                <div>
                  <iframe src="https://www.google.com/recaptcha/api2/anchor?k=6LfDygITAAAAAN3r5eqvQcJh2cichzZvMYr6Hoy7&amp;co=aHR0cDovLzUyLjY3LjE5OS4yMzk6ODA.&amp;hl=es&amp;v=r20170515161201&amp;theme=light&amp;size=normal&amp;cb=8trduc8m386e" title="widget del recaptcha" width="304" height="78" frameborder="0" scrolling="no" name="undefined"></iframe>
                </div>
                <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-6"><span class="red ng-hide" ng-show="contactForm.$dirty &amp;&amp; contactForm.$error.recaptcha">Haga click en la casilla de verificación</span></div>
        </div>
        <br>
        
        <br>
        <div class="row ng-hide" ng-show="$ctrl.consult.sameZone"><!----></div>
        <div class="row">
          <div class="col-md-4"><br>
            <button ng-click="submitForm(contactForm) &amp;&amp; contactForm.$valid &amp;&amp; sendForm()" class="btn btn-danger" tabindex="12">Enviar consulta</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
  
 
  
  <!-- Footer -->
  <footer>
    <div class="pie">
      <div class="row">
        <div class="col-md-1 col-md-offset-1 text-left footer-title">Menú<br>
          <br>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Publicidad</a></li>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Mapa del sitio</a></li>
          </ul>
        </div>
        <div class="col-md-2 text-left footer-title">Categorías<br>
          <br>
          <ul>
            <li><a href="#">Residencias</a></li>
            <li><a href="#">Servicios para eventos</a></li>
            <li><a href="#">Fiestas Infantiles</a></li>
            <li><a href="#">Catering para eventos</a></li>
            <li><a href="#">Vestidos y más...</a></li>
            <li><a href="#">Shows para eventos</a></li>
            <li><a href="#">Todo para el Civil</a></li>
            <li><a href="#">Links</a></li>
          </ul>
        </div>
        <div class="col-md-1 text-left footer-title">Usuario<br>
          <br>
          <ul>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Registrate</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </div>
        <div class="col-md-6 text-right">
          <div class="pull-right"><img class="img-responsive" src="img/wye-footer.png" title="WyE" alt="WyE"></div>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">Residencias - Hoteles - Quintas - Estancias - Islas - Barcos - Restaurantes - Confiterías - Boliches - Bares - Salones de Fiestas Infantiles - Animaciones Fiestas Infantiles - Catering - Barras de Tragos - Pastelería y Mesa Dulce - Organización de Eventos - Disc Jockey e Iluminación - Foto y Video - Ambientación y Decoración - Tarjetas - Cotillón - Vestidos de Novias - Ropa de Etiqueta - Maquillaje - Salones de Belleza - Flores y Ramos - Souvenirs - Fuegos Artificiales - Velas y Fanales - Vajilla y Mantelería - Carpas y Toldos - Alquiler de Autos - Alquiler de Livings - Casas de Regalos - Ceremonias - Animación para Adultos - Bandas y Tributos - Cómicos - Shows Coreográficos - Batucadas y Murgas - Maricahis - Locutores y Conductores - Bandas en Vivo - Show para Recepciones - Tango - Odaliscas - Jazz - Caricaturistas - Todo para el Civil - CGP - Registro Civil - Iglesias - Templos - Mezquitas</div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-10 col-md-offset-1" style="font-style: italic">WEB Y EVENTOS es un sitio de servicios de información publicitaria. No tiene relación alguna con las operaciones comerciales que se realicen directamente entre usuarios y anunciantes. La fidelidad de los datos presentados en cada subweb de los anunciantes es responsabilidad exclusiva de los mismos.Locutores y Conductores - Bandas en Vivo - Show para Recepciones - Tango - Odaliscas - Jazz - Caricaturistas - Todo para el Civil - CGP - Registro Civil - Iglesias - Templos - Mezquitas</div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-11 text-right">© 2017 - CopyRight / Todos los derechos reservados / Legales / Version @version<br>
          <br>
        </div>
      </div>
    </div>
    <br>
    <div class="row payment">
      <div class="col-md-1 text-center"><img src="img/mp1.jpg" class="img-responsive"></div>
      <div class="col-md-1 text-center"><img src="img/mp2.jpg" class="img-responsive"></div>
      <div class="col-md-1 text-center"><img src="img/mp3.jpg" class="img-responsive"></div>
      <div class="col-md-1 text-center"><img src="img/mp4.jpg" class="img-responsive"></div>
      <div class="col-md-1 text-center"><img src="img/mp5.jpg" class="img-responsive"></div>
      <div class="col-md-1 text-center"><img src="img/mp6.jpg" class="img-responsive"></div>
      <div class="col-md-1 text-center"><img src="img/mp7.jpg" class="img-responsive"></div>
      <div class="col-md-1 text-center"><img src="img/mp8.jpg" class="img-responsive"></div>
      <div class="col-md-1 text-center"><img src="img/mp9.jpg" class="img-responsive"></div>
      <div class="col-md-1 text-center"><img src="img/mp10.jpg" class="img-responsive"></div>
      <div class="col-md-1 text-center"><img src="img/mp11.jpg" class="img-responsive"></div>
      <div class="col-md-1 text-center"><img src="img/mp12.jpg" class="img-responsive"></div>
    </div>
  </footer>
</div>
<!-- /.container --> 

<!-- jQuery --> 
<script src="js/jquery.js"></script> 

<!-- Bootstrap Core JavaScript --> 
<script src="js/bootstrap.min.js"></script>
</body>
</html>
